@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-family: 'Poppins', sans-serif;
}

a {
  -webkit-transition: .2s;
  transition: .2s;
}

.btn {
  padding: 7px 25px;
}

.btn-primary {
  background-color: #00266D;
  border-color: #00266D;
}

.btn-secondary {
  background-color: #FF9F17;
  border-color: #FF9F17;
}

.grey-bg {
  background: #F9F9F9;
}

.white-text {
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
}

.top-nav {
  background: #00266D;
}

.top-nav ul {
  margin: 0;
  padding: 0;
}

.top-nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 10px 0px  10px 10px;
  color: #fff;
}

.top-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.main-nav {
  background: #fff !important;
}

.main-nav .navbar-brand {
  margin: 0;
}

.main-nav .navbar-brand img {
  height: 100px;
}

.main-nav li.show .nav-link {
  color: #FF9F17 !important;
}

.main-nav .nav-link {
  color: #00266D !important;
  padding: 10px 15px !important;
}

.main-nav .nav-link:hover {
  color: #FF9F17 !important;
}

.banner-wrap {
  position: relative;
}

.banner-wrap .carousel-item {
  height: 520px;
  background: #000;
}

.banner-wrap .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.banner-wrap .carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  background: #00266D;
  text-align: left;
  padding: 10px;
}

.banner-wrap .carousel-caption p {
  margin: 0;
  font-size: 18px;
}

.banner-wrap .carousel-indicators {
  bottom: 5px;
  right: 0;
  left: auto;
  margin-bottom: 0;
}

.banner-wrap .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.banner-wrap .carousel-indicators li.active {
  background-color: #FF9F17;
}

.banner-wrap .banner-buttons {
  position: absolute;
  z-index: 2;
  left: 10%;
  bottom: 80px;
}

.banner-wrap .banner-buttons .btn {
  margin-right: 20px;
  text-transform: uppercase;
}

.title {
  font-size: 32px;
  color: #00266D;
  font-weight: 300;
}

.title.underlined {
  position: relative;
  padding-bottom: 10px;
}

.title.underlined:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 80px;
  background: #20AAE7;
}

.title.white {
  color: #fff;
}

.sub-title {
  font-size: 18px;
  color: #00266D;
  font-weight: 800;
}

.programs-tab .bordered {
  border: 2px solid #20AAE7;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #00266D;
  text-align: center;
  border-radius: 7px;
  font-size: 20px;
  font-weight: 600;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.programs-tab .bordered:hover {
  background: #e2f4fc;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.card {
  border: none;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.card a {
  text-decoration: none;
}

.card figure {
  height: 180px;
  margin: 0;
  overflow: hidden;
}

.card figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.card .card-header {
  color: #333;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.card .card-body {
  color: #777;
  font-size: 14px;
}

.card:hover {
  top: -5px;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card:hover .card-header {
  color: #20AAE7;
}

.card.horizontal figure {
  height: 100%;
}

.testimonial-wrap {
  position: relative;
}

.testimonial-wrap img.bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.testimonial-wrap .overlay {
  padding-top: 160px !important;
}

.testimonial {
  background: #fff;
  padding: 20px;
  position: relative;
  padding-top: 80px;
  text-align: center;
  margin-bottom: 100px;
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.testimonial figure {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.testimonial figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why figure {
  max-height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20px 20px 0px;
  shape-outside: circle(50%);
  float: left;
  -webkit-box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.2);
}

.why figure img {
  height: 200px;
  padding: 40px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.why p {
  text-align: justify;
}

.contact-form .blue-background {
  background: #00266D;
  -webkit-box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.4);
}

.contact-form .blue-background.flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.contact-form .blue-background .flex-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact-form .no-padding {
  padding: 0;
}

.contact-form figure {
  height: 100%;
  width: 100%;
  margin: 0;
}

.contact-form figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-form .form-control {
  border: none;
  border-radius: 0px;
  padding: 10px 15px;
}

.blue-background {
  background: #00266D;
}

.downloads-banner {
  position: relative;
}

.downloads-banner:after {
  position: absolute;
  content: "";
  top: 0;
  left: 60%;
  bottom: 0;
  right: 0;
  -webkit-clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
  background: url(../img/banner4.jpg) no-repeat;
  background-size: cover;
}

.gallery-section a {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
}

.gallery-section a:hover {
  top: -5px;
}

.gallery-section a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery-section figure {
  margin: 0;
  overflow: hidden;
}

.gallery-section figure img {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.gallery-section figcaption {
  padding: 10px 20px;
  text-align: center;
  color: #333;
}

.gallery-section .owl-theme .owl-dots .owl-dot span {
  margin: 5px;
  height: 15px;
  width: 15px;
}

.gallery-section .owl-theme .owl-dots .owl-dot.active span {
  background: #20AAE7;
}

.main-footer {
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.main-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer:before {
  width: 50%;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  height: 5px;
  background: #FF9F17;
}

.main-footer:after {
  width: 50%;
  top: 0;
  left: 50%;
  content: "";
  position: absolute;
  height: 5px;
  background: #20AAE7;
}

.main-footer ul li {
  list-style-type: none;
  display: inline-block;
}

.main-footer ul li a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */