@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$main-color: #00266D;
$secondary-color:#FF9F17;
$light-blue:#20AAE7;

body{
    font-family: 'Poppins', sans-serif;
}

a{
    transition: .2s;
}

.btn{
    padding: 7px 25px;
}
.btn-primary{
    background-color: $main-color;
    border-color: $main-color;
}
.btn-secondary{
    background-color: $secondary-color;
    border-color: $secondary-color;
}
.grey-bg{
    background: #F9F9F9;
}
.white-text{color: #fff;}
.overlay{
    background: rgba($color: #000000, $alpha: 0.4s);
}

.top-nav{
    background:$main-color; 
    ul{
        margin:0;
        padding:0;
        li{
            display: inline-block;
            list-style-type: none;
            padding: 10px 0px  10px 10px;
            color: #fff;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 14px;
            }
        }
    }
}
.main-nav{
    background: #fff !important;

    .navbar-brand{
        margin: 0;
        img{
            height: 100px;
        }
    }
    li{
        &.show{
            .nav-link{
                color: $secondary-color !important;
            }
        }
    }
    .nav-link{
        color: $main-color !important;
        padding: 10px 15px !important;
        &:hover{
            color: $secondary-color !important;
        }
    }
}
.banner-wrap{
    position: relative;
    .carousel-item{
        height: 520px;
        background: #000;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
        }
    }
    .carousel-caption{
        right: 0;
        left: 0;
        bottom: 0;
        background: $main-color;
        text-align: left;
        padding: 10px;
        p{
            margin: 0;
            font-size: 18px;
        }
    }
    .carousel-indicators{
        bottom: 5px;
        right: 0;
        left: auto;
        margin-bottom: 0;
        li{
            height: 15px;
            width: 15px;
            border-radius: 50%;
            &.active{
                background-color: $secondary-color;
            }
        }
    }

    .banner-buttons{
        position: absolute;
        z-index: 2;
        left: 10%;
        bottom: 80px;
        .btn{
            margin-right: 20px;
            text-transform: uppercase;
        }
    }
}

.title{
    font-size: 32px;
    color: $main-color;
    font-weight: 300;
    &.underlined{
        position: relative;
        padding-bottom: 10px;
        &:before{
            content:'';
            position: absolute;
            bottom: 0;
            left:0;
            height: 2px;
            width: 80px;
            background: $light-blue;
        }
    }
    &.white{
        color: #fff;
    }
}
.sub-title{
    font-size: 18px;
    color: $main-color;
    font-weight: 800;
} 

.programs-tab{
    .bordered{
        border:2px solid $light-blue; 
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: $main-color;
        text-align: center;
        border-radius: 7px;
        font-size: 20px;
        font-weight: 600;
        background: #fff;
        box-shadow: 0px 0px 0px rgba($color: #000, $alpha: 0);
        &:hover{
            background: #e2f4fc;
            box-shadow: 8px 8px 16px rgba($color: #000, $alpha: 0.2);
        }
    }
}

.card{
    border: none;
    box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.2);
    position: relative;
    top:0;
    transition: .2s ease-in;
    a{
        text-decoration: none;
    }
    figure{
        height: 180px;
        margin:0;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .2s ease-in;
        }
    }
    .card-header{
        color: #333;
        transition: .2s ease-in;
    }
    .card-body{
        color: #777;
        font-size: 14px;
    }
    &:hover{
        top:-5px;
        box-shadow: 8px 8px 16px rgba($color: #000, $alpha: 0.2);
        img{
            transform: scale(1.1);
        }
        .card-header{
            color: $light-blue;
        }
    }
    &.horizontal{
        figure{
            height: 100%;
        }
       
    }
}
.testimonial-wrap {
    position: relative;
    img.bg-img{
        position: absolute;
        height: 100% ;
        width:100%;
        object-fit: cover;
        z-index: -1;
    }
    .overlay{
        padding-top: 160px !important;
    }
}

.testimonial{
    background: #fff;
    padding: 20px;
    position: relative;
    padding-top: 80px;
    text-align: center;
    margin-bottom:100px; 
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.4);
    figure{
        height: 120px;
        width: 120px;border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top:-60px;
        left: 50%;
        transform: translateX(-50%);
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
.why{
    
    figure{
        max-height:200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 20px 20px 0px;
        shape-outside: circle(50%);
        float: left;
        box-shadow: 0px 0px 28px rgba($color: #000000, $alpha: 0.2);
        img{
            height: 200px;
            padding: 40px;
            width: 100%;
            object-fit: cover;
        }
    }
    p{
        text-align: justify;
    }
}

.contact-form{
    .blue-background{
        background: $main-color;
        // display: flex;
        box-shadow: 2px 8px 16px rgba($color: #000, $alpha: 0.4);
        &.flex{
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
        .flex-child{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
        } 
    }
    .no-padding{
        padding: 0;
    }
    figure{
        height: 100%;
        width: 100%;
        margin:0;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .form-control{
        border:none;
        border-radius: 0px;
        padding: 10px 15px;
    }
}
.blue-background{
    background: $main-color;
}
.downloads-banner{
    position: relative;
    &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 60%;
        bottom: 0;
        right: 0;
        // background: red;
        clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
        background: url(../img/banner4.jpg) no-repeat;
        background-size:cover ;
    }
}
.gallery-section{
    a{
        text-decoration: none;
        display: inline-block;
        margin:10px;
        box-shadow: 0px 0px 8px rgba(0,0,0, 0.2);
        position: relative;
        top:0;
        &:hover{
            top:-5px;
            img{
                transform: scale(1.1);
            }
        }
    }
    figure{

        margin:0;
        overflow: hidden;
        
        img{
            transition: .2s ease-in;
        }
    }
    figcaption{
        padding: 10px 20px;
        text-align: center;
        color: #333;
    }

    .owl-theme{
        .owl-dots {
            .owl-dot {
                span{
                    margin: 5px;
                    height:15px;
                    width:15px;
                }
                &.active{
                    span{
                        background: $light-blue;
                    }
                }
            }
        }
    } 
    
}

.main-footer{
    color: rgba($color: #fff, $alpha: 0.6);
    position: relative;
    a{
        color: rgba($color: #fff, $alpha: 0.6);
    }
    &:before{
        width: 50%;
        top: 0;
        left:0;
        content: "";
        position: absolute;
        height: 5px ;
        background: $secondary-color;

    }
    &:after{
        width: 50%;
        top: 0;
        left:50%;
        content: "";
        position: absolute;
        height: 5px ;
        background: $light-blue;

    }
    ul {
        li{
            list-style-type: none;
            display: inline-block;
            a{
                text-decoration: none;
            }
        }
    }
}